* {
  margin: 0;
  padding: 0; }

.logo {
  display: flex;
  justify-content: space-between; }

.logos {
  height: 5em;
  width: 10em; }

.boxs_logos {
  background-color: white;
  color: black;
  width: 12em;
  height: 5em; }

.nav_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
  background-color: black; }

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: #3c53b9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; }

.navigation ul {
  display: flex;
  width: 350px; }

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1; }

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: aliceblue; }

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr); }

.navigation ul li:hover a .icon {
  transform: translateY(-35px); }

.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px); }

.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(10px); }

/* .nav_listado{
    display: flex;
    background-color: #3c53b9;
    border: 1px solid #fb8e47;
    justify-content: space-around;
    
    
   
}
.boxs_nav{
    display: inline-block;
    color: white;
    width: 10em;
    height: 3em;
    text-align: center;
    line-height: 2.5em;
}
@media (max-width:470px){
    
    .boxs_nav{

        line-height: 2em;
        font-size: 0.5em;
    }
}
 */
main {
  background-color: #eeeeee; }

.footer_color_1 {
  background-color: #fb8e47; }

.footer_color_2 {
  background-color: #d6793c; }
