
.logo{
    display: flex;
    justify-content:space-between;
}
.logos{
    height: 5em;
    width: 10em;
}
.boxs_logos{
    background-color: white;
    color: black;
    width: 12em;
    height: 5em;
}


.nav_listado{
    display: flex;
    background-color: #3c53b9;
    border: 1px solid #fb8e47;
    justify-content: space-around;
    
   
}
.boxs_nav{
    display: inline-block;
    color: white;
    width: 10em;
    height: 3em;
    text-align: center;
    line-height: 2.5em;
   
    
  
}
